In [1]:
# Import dependencies
import pandas as pd
csv_path = "../Resources/merged_top25_sp500_stock_data.csv"
df = pd.read_csv(csv_path,index_col='date',
    parse_dates=True,
    infer_datetime_format=True)
df = df.drop(columns=['Unnamed: 0', 'date_utc', 'open','high','low', 'close','volume'])
df = df.pivot( columns='symbol',values='adjclose')
df

symbol,AAPL,ABBV,AMZN,BAC,BRK-B,CVX,GOOG,GOOGL,HD,JNJ,...,MRK,MSFT,NVDA,PEP,PFE,PG,TSLA,UNH,V,XOM
date,,,,,,,,,,,,,,,,,,,,,
2012-10-31,18.23,NaN,11.64,7.96,86.35,72.84,16.94,17.02,49.15,53.82,...,31.61,23.41,2.75,51.87,16.49,51.64,1.88,47.98,32.35,59.80
2012-11-01,18.27,NaN,11.61,8.32,87.68,73.64,17.13,17.21,49.85,54.33,...,31.83,24.21,2.88,52.02,16.28,51.65,1.95,48.79,33.54,60.08
2012-11-02,17.66,NaN,11.62,8.41,86.93,71.60,17.13,17.22,49.66,53.88,...,31.87,24.19,2.87,51.73,16.28,51.61,1.93,48.02,33.43,59.21
2012-11-05,17.90,NaN,11.72,8.32,86.86,72.14,17.01,17.09,49.95,53.79,...,31.64,24.30,2.99,51.69,16.30,51.22,2.10,47.36,32.99,59.45
2012-11-06,17.85,NaN,11.88,8.49,87.29,72.92,16.98,17.06,50.14,53.96,...,31.81,24.49,2.99,51.95,16.38,51.41,2.08,48.31,33.54,60.09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-10-24,149.45,150.89,119.82,35.07,287.48,173.13,102.97,102.52,283.26,170.98,...,97.37,247.25,125.99,177.68,45.54,129.37,211.25,541.60,190.71,106.60
2022-10-25,152.34,149.82,120.60,35.39,289.24,174.93,104.93,104.48,290.26,170.71,...,97.71,250.66,132.61,178.27,45.59,130.86,222.42,540.22,194.38,105.88
2022-10-26,149.35,152.51,115.66,35.70,288.52,177.09,94.82,94.93,290.15,172.21,...,98.41,231.32,128.96,179.07,46.06,131.78,224.64,543.17,203.33,107.14
2022-10-27,144.80,153.50,110.96,35.87,289.88,177.90,92.60,92.22,291.06,172.31,...,99.74,226.75,131.76,178.88,45.74,131.88,225.09,541.80,204.29,107.55
2022-10-28,155.74,147.61,103.41,36.18,299.63,179.98,96.58,96.29,298.65,174.87,...,100.77,235.87,138.34,182.23,47.43,135.22,228.52,551.24,209.34,110.70

In [2]:
df.to_csv('top25_sp500_stocks.csv')